* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    border: 1px solid black;
    width: 800px;
    height: 600px;
}